<div class='main-nav'>
  <div class='navbar navbar-default'>
    <div class='navbar-header'>
      <a class='navbar-brand' [routerLink]='["/"]'>RSS Reader</a>
    </div>
    <div class='clearfix'></div>

    <div class="feeds-navigation">

      <div class="feed-label">
        <label>Feeds</label>
        <a class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus"></span> Add new feed
        </a>
      </div>

      <div class='clearfix'></div>

      <div class="panel-group category-group">
        <div class="panel panel-success active">
          <div class="panel-heading category-item">
            <h6 class="panel-title f-label" [ngClass]="{'font-bold': getTotalCount() > 0 }">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
              <a data-toggle="collapse" href="#">All<span class="badge badge-post-count" *ngIf="getTotalCount() > 0">{{getTotalCount()}}</span></a>
            </h6>
          </div>
        </div>
      </div>

      <div class="panel-group category-group" *ngFor="let category of categoriesGroup">
        <div class="panel panel-success">
          <div class="panel-heading active category-item">
            <h6 class="panel-title f-label" [ngClass]="{'font-bold': getCategoryPostsCount(category) > 0 }">
              <span [ngClass]="category.isExpanded ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'" class="glyphicon" (click)="collapse(category)"></span>
              <a data-toggle="collapse" *ngIf="getCategoryPostsCount(category) > 0" href="#collapse1">{{category.name}}<span class="badge badge-post-count">{{getCategoryPostsCount(category)}}</span></a>
            </h6>
          </div>
          <div id="collapse1" class="panel-collapse" [ngClass]="{'collapse': !category.isExpanded }">
            <div class="list-group">
              <a href="#" class="list-group-item f-label category-item" *ngFor="let feed of category.feedsInfo">
                <img *ngIf="feed.imageUrl" [src]="feed.imageUrl" class="feed-icon" width="16" height="16" />
                <span [ngClass]="{'font-bold': feed.postsCount > 0}">{{feed.title}}</span>
                <span class="badge badgepurple badge-post-count" *ngIf="feed.postsCount > 0">{{feed.postsCount}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
