<div class='main-nav'>
  <div class='navbar navbar-light bg-light border-right border-primary'>
    <div class="align-self-start w-100">
      <div class='navbar-header'>
        <a class='navbar-brand' [routerLink]='["/"]'>RSS Reader</a>
      </div>

      <div class="feeds-navigation align-self-start w-100 mt-4">

        <div class="feed-label">
          <label>Feeds</label>
        </div>

        <div class='clearfix'></div>

        <!--ALL-->
        <div class="list-group">
          <div class="mt-0 mb-0 list-group-item d-flex justify-content-between align-items-center list-group-item-action">
            <a class="d-flex justify-content-start" [routerLink]="['latest']" [routerLinkActive]="['active']">
              <img src="assets/icons/baseline-chevron_right-24px.svg" class="align-middle" />
              <span>All</span>
            </a>
            <span *ngIf="getTotalCount() > 0" class="badge badge-dark">{{getTotalCount()}}</span>
          </div>
        </div>

        <!--CATEGORIES-->
        <div class="list-group" *ngFor="let category of categoriesGroup; let i = index">
          <div *ngFor="let feed of category.feedsInfo">

            <div class="mt-0 mb-0 list-group-item d-flex justify-content-between align-items-center list-group-item-action">
              <div class="d-flex justify-content-start">
                <span (click)="collapse(category)">
                  <img [hidden]="category.isExpanded" src="assets/icons/baseline-chevron_right-24px.svg" class="align-middle" />
                  <img [hidden]="!category.isExpanded" src="assets/icons/baseline-expand_more-24px.svg" class="align-middle" />
                </span>
                <a [routerLink]="['categories', category.name]" [routerLinkActive]="['active']" class="float-left">{{category.name}}</a>
              </div>
              <span class="badge badge-dark" *ngIf="getCategoryPostsCount(category) > 0">{{getCategoryPostsCount(category)}}</span>
            </div>

            <!--FEEDS-->
            <div class="list-group feed-source" *ngIf="category.isExpanded">
              <div class="mt-0 mb-0 list-group-item d-flex justify-content-between align-items-center list-group-item-action align-items-start">
                <a [routerLink]="['feeds', feed.feedId]" [routerLinkActive]="['active']">{{feed.title}}</a>
                <span *ngIf="feed.postsCount > 0" class="badge badge-dark">{{feed.postsCount}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <a role="button" href="#" class="text-center mt-1">Add new category</a>
        </div>

      </div>
    </div>


    <div class="f-actions align-self-end w-100">
      <button type="button" class="btn btn-outline-primary btn-lg btn-block">
        Add new feed
      </button>
    </div>
  </div>
</div>
