/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
  padding-top: 70px;
}

.font-bold {
  font-weight: bold;
}


.table-title {
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 20px;
}

.sign-in-up-box {
  border: #d1d1d1 solid 1px;
  margin: 0 auto;
}
