<div class='navbar navbar-expand-lg navbar-light bg-light fixed-top'>
  <!--<a class="navbar-brand" href="#">RSS Reader</a>-->

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block pull-right" placement="bottom-right">
          <button class="btn btn-outline-primary" id="userOptionDropdown" ngbDropdownToggle>
            <img src="https://mbtskoudsalg.com/images/avatar-png-1.png" class="img-circle user-image" alt="Cinque Terre" width="30" height="30">
          </button>
          <div ngbDropdownMenu aria-labelledby="userOptionDropdown">
            <h6 *ngIf="currentUser" class="dropdown-header">{{currentUser.fullName}}</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onLogOut()" href="#">Log Out</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
